<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/todo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Roboto+Mono:ital,wght@0,300;1,600&display=swap"
        rel="stylesheet">
    <title>To DO</title>
</head>

<body>
    <div class="container mx-auto">
        <h1 id="todotext" class="text-center">To Do List</h1>

        <form action="/" method="post" class="todo-header justify-content-center d-flex">
            <input type="text" name="todo_task" class="form-control w-25">
            <button type="submit" class=" ml-3 text-center btn btn-success"><span
                    class="fas fa-plus"></span></span></button>
        </form>
        <!-- <center class="todo_list_group"> -->
        <ul class="list-group text-center">

            <% todolist.forEach(todos=>{%>
                <li class="list-group-item justify-content-center d-flex">
                    <%= todos.content %>
                        <form action="/edit" method="POST">
                            <input type="hidden" value="<%= todos._id %>" name="id">
                            <button type="submit" class="btn edit"><span class="fas fa-edit"></span></button>
                        </form>
                        <form action="/remove" method="POST">
                            <input type="hidden" value="<%= todos._id %>" name="id">
                            <button type="submit" class="btn delete"><span class="fas fa-trash"></span></button>
                        </form>
                </li>

                <% })%>
        </ul>
        <!-- </center> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>